@import "./reset";
@import "./navbar";
@import "./main";
@import "./homepage";

body {
	font-family: "Montserrat", sans-serif;
	background-color: #1c1c1c;
	scroll-behavior: smooth;
	color: #fff;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
