@import "./reset";
@import "./navbar";
@import "./homepage";
@import "./about";
@import "./experience";
@import "./projects";
@import "./card";
@import "./timeline";
@import "./contact";
@import "./footer";

html {
	scroll-behavior: smooth !important;
	width: 100%;
	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: #1c1c1c;
	color: #fff;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

section {
	min-height: calc(100dvh - 70px); //navbar height
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 99.9%;
		left: 50%;
		transform: translateX(-50%); //centering
		width: 75%;
		height: 1.5px;
		background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0)
		);
	}
}
